*{margin:0px;padding:0px}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.ttf');
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding: 0px 10px ;
    overflow-y: hidden;
}

.circularProgress {
    position: absolute;
    top: 45%;
    left: 45%
}

.gridData {
    height: 100%!important;
}

.changeWarning {
    color: red;
    font-style: italic;
    font-size: 14px;
}

#client-snackbar {
    font-size: 14px;
    display: flex;
}

.react-grid-Grid {
    min-height: 70vh!important;
    overflow-y: hidden;
}

.MuiSnackbarContent-root {
    min-width: 500px!important
}

#dtlEditorTitle {
    font-size: 22px;
    font-weight: 400;
}

.react-grid-HeaderCell:nth-child(2) {
    color: grey!important
}

.react-grid-HeaderCell:nth-child(3) {
    color: grey!important
}

.react-grid-HeaderCell:nth-child(4) {
    color: grey!important;
}

.react-grid-Cell:nth-child(2) {
    color: gray!important;
    text-transform: lowercase;
    text-transform: capitalize!important;
}

.react-grid-Cell:nth-child(3) {
    color: gray!important;
    text-transform: capitalize!important;
}

.react-grid-Cell:nth-child(4) {
    color: gray!important
}

h2.MuiTypography-h6 {
    font-size: 16px;
}

span.MuiButton-label {
    font-size: 12px;
}